.info-block {
  display: flex;
  background-color: #F8F8F8;
  width: 100%;
  margin-top: -6px;
}
.info-block-row {
  display: flex;
  flex-flow: column;
  margin: 180px 20px;
  flex-basis: 50%;
}
.info-block-row-space {
  flex: 1;
}
.info-block-rowOne {
  font-size: calc(20px + 1vw);
  font-weight: 500;
  text-align: center;
}
.info-block-rowTwo {
  font-size: calc(10px + 0.5vw);
  color: rgba(0, 0, 0, 0.507);
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 50px;
}
.info-block-rowThree {
  text-align: center;
  font-size: calc(14px + 0.9vw);
  font-weight: 100;
  flex-basis: 50%;
  margin: auto 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
.info-block {
  flex-wrap: wrap;
}
.info-block-row{
  margin: 40px auto;
  flex-basis: 90%;
}
.info-block-rowThree {
  margin: 40px auto 60px auto;
  flex-basis: 90%; 
}
}
@media (min-width: 260px) and (max-width: 319px) {
.info-block {
  flex-wrap: wrap;
}
.info-block-row {
  margin: 40px auto;
  flex-basis: 90%;
}
.info-block-rowThree {
  margin: 40px auto 60px auto;
  flex-basis: 90%;
}
}