hr {
  width: 75%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.about {
  display: flex;
  margin: 100px 0;
}
.about-coverPhoto {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-basis: 50%;
  margin-left: calc(5px + 2vw);
}
.about-coverPhoto img {
  width: 580px;
  min-width: 250px ;
  max-width: 100%;
  transition: 2s ease-in-out;
}
.about-text-block {
  display: flex;
  flex-flow: column;
  text-align: center;
  flex-basis: 50%;
  margin: auto 12px auto 10px;
}

.block-one {
  font-size: calc(15px + 1.6vw);
  font-weight: 500;
  margin-bottom: 20px;
  transition: .2s ease-in-out;
}
.block-two {
  font-size: calc(9px + 0.3vw);
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.507);
  margin-bottom: 50px;
  transition: .2s ease-in-out;
}
.block-three {
  font-size: calc(12px + 1.2vw);
  font-weight: 400;
  margin-bottom: 30px;
  transition: .2s ease-in-out;
}
.block-four {
  font-size: calc(8px + 1vw);
  font-weight: 300;
  margin-bottom: 20px;
  transition: .2s ease-in-out;
}
.block-five {
  font-size: calc(10px + 0.6vw);
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  transition: .2s ease-in-out;
}
.block-five:hover {
  color:rgba(82, 82, 82, 0.651);
  transition: .2s ease-in-out;
}


@media (min-width: 1281px) and (max-width: 5080px) {
.pseudo-blockOne,
.pseudo-blockTwo {
  display: none;
}
}


@media (min-width: 1025px) and (max-width: 1280px) {
.pseudo-blockOne,
.pseudo-blockTwo {
  display: none;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.pseudo-blockOne,
.pseudo-blockTwo {
  display: none;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.pseudo-blockOne,
.pseudo-blockTwo {
  display: none;
}
}


@media (min-width: 481px) and (max-width: 767px) {
.pseudo-blockOne,
.pseudo-blockTwo {
  display: none;
}
}

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    flex-wrap: wrap;
  }
  .about-coverPhoto img {
    margin: 0 auto 0 auto;
}
  .block-one {
    margin-top: 20px;
  }
  .about-coverPhoto {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .about-text-block {
    margin: 0 auto;
    flex-basis: 90%;
  }
  .pseudo-blockOne {
    font-size: calc(18px + 1.6vw);
    font-weight: 500;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
  }
  .pseudo-blockTwo{
    font-size: calc(9px + 0.3vw);
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.507);
    margin-bottom: 30px;  
    transition: .2s ease-in-out;
  }
  .block-one, .block-two {
    display: none;
  }
  .block-three {
    margin-top: 40px;
    font-size: calc(14px + 1.2vw);
  }
  .block-four{
    font-size: calc(12px + 1vw);
  }
  .block-five {
    font-size: calc(12px + 0.6vw);
  }
}
@media (min-width: 260px) and (max-width: 319px) {
  .about {
    flex-wrap: wrap;
  }

  .about-coverPhoto img {
    margin: 0 auto 0 auto;
  }

  .block-one {
   margin-top: 20px;
  }

  .about-coverPhoto {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .about-text-block {
    margin: 0 auto;
    flex-basis: 90%;
  }
  .pseudo-blockOne {
    font-size: calc(18px + 1.6vw);
    font-weight: 500;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
  }

  .pseudo-blockTwo {
    font-size: calc(9px + 0.3vw);
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.507);
    margin-bottom: 30px;
    transition: .2s ease-in-out;
  }
  .block-one,
  .block-two {
    display: none;
  }

  .block-three {
    margin-top: 40px;
    font-size: calc(13px + 1.2vw);
  }
  .block-four {
    font-size: calc(12px + 1vw);
  }
  .block-five {
  font-size: calc(12px + 0.6vw);
  }
}