.menu {
  position: absolute;
  top: 50%;
  right: -1%;
  display: block;
  cursor: pointer;
  width: 45px;
  height: 32px;
  transform: translate(-50%,-25%);
}
.menu-stick {
  background: #ffffff;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
}
.menu-stick::before {
  background: #ffffff;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
  content:'';
  left: 0;
  top:-13px;
}
.menu-stick::after {
  background: #ffffff;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
  content:'';
  left:0;
  top:13px;
}
.menu-stick.trigger {
  transform: rotate(180deg);
}
.menu-stick.trigger::after {
  transform-origin: 100% 50%;
  transform: translateY(-12.7px) translateX(0.5px) rotate(45deg) scale(0.7);
  will-change: auto;
}
.menu-stick.trigger::before {
  transform-origin: 100% 50%;
  transform: translateY(12.5px) translateX(1px) rotate(-45deg) scaleX(0.7);
  will-change: auto;
}
.menu-stick-dark {
  background: #535353b6;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
}
.menu-stick-dark::before {
  background: #535353b6;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
  content: '';
  left: 0;
  top: -13px;
}
.menu-stick-dark::after {
  background: #535353b6;
  width: 40px;
  height: 2px;
  position: absolute;
  transition: all .4s;
  transform-origin: 50% 50%;
  content: '';
  left: 0;
  top: 13px;
}
.menu-stick-dark.trigger {
  transform: rotate(180deg);
}
.menu-stick-dark.trigger::after {
  transform-origin: 100% 50%;
  transform: translateY(-12.7px) translateX(0.5px) rotate(45deg) scale(0.7);
  will-change: auto;
}
.menu-stick-dark.trigger::before{
  transform-origin: 100% 50%;
  transform: translateY(12.5px) translateX(1px) rotate(-45deg) scaleX(0.7);
  will-change: auto;
}
@media (min-width: 1025px) and (max-width: 5009px) {
.menu {
  display: none;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.nav-menu{
  display: none;
}
}
@media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
.menu {
  display: none;
}
}
@media (min-width: 320px) and (max-width: 480px) {
.menu {
  width: 35px;
}
.menu-stick {
  width: 35px;
}
.menu-stick::before {
  width: 35px;
}
.menu-stick::after {
  width: 35px;
}
.menu-stick-dark {
  width: 35px;
}
.menu-stick-dark::before {
  width: 35px;
}
.menu-stick-dark::after {
  width: 35px;
}
}
@media (min-width: 260px) and (max-width: 319px) {
.menu {
  width: 35px;
}
.menu-stick {
  width: 35px;
}
.menu-stick::before {
  width: 35px;
}
.menu-stick::after {
  width: 35px;
}
.menu-stick-dark {
  width: 35px;
}
.menu-stick-dark::before {
  width: 35px;
}
.menu-stick-dark::after {
  width: 35px;
}
}