.nav{
  position: absolute;
  z-index: 10;
  width: 100%;
}
.navbar {
  display: flex;
  margin: 15px 10px 0 10px ;
}
.nav-logo{
  width: calc(50px + 4.5vw);
  cursor: pointer;
}
.nav-space {
  flex: 1;
}
.nav-right {
  display: flex;
  text-transform: uppercase;
  flex-flow: nowrap;
}
.nav-menu {
  margin: auto 25px;
  color: #fff;
  font-size: calc(10px + .57vw);
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.nav-menu-dark {
  margin: auto 25px;
  color: rgb(0, 0, 0);
  font-size: calc(10px + .57vw);
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.nav-menu:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) and (max-width: 1024px) {
.nav-right {
  flex-direction: row;
}
}
@media (min-width: 481px) and (max-width: 767px) {
.nav-menu {
  display: none;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.nav-menu {
  margin: auto 6px;
  font-size: calc(8px + .50vw);
}
.navbar{
  margin: 5px 10px 0 10px;
}
.nav-menu {
  display: none;
}
}
@media (min-width: 260px) and (max-width: 319px) {
.nav-menu {
  margin: auto 6px;
  font-size: calc(6px + .50vw);
}
.navbar {
  margin: 5px 10px 0 10px;
}
.nav-menu {
  display: none;
}
}