.nav{
  position: absolute;
  z-index: 10;
  width: 100%;
}
.navbar {
  display: flex;
  margin: 15px 10px 0 10px ;
}
.nav-logo{
  width: 120px;
  min-width: 50px;
  max-width: 100%;
  cursor: pointer;
}
.nav-space {
  flex: 1;
}
.nav-right {
  display: flex;
  text-transform: uppercase;
  flex-flow: nowrap;
}
.nav-menu {
  margin: auto 25px;
  color: #fff;
  font-size: calc(10px + .57vw);
  white-space: nowrap;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}